@import url("../design-tokens/variables.css");

@import url("global/layout.css");
@import url("global/positioning.css");
@import url("global/reset.css");
@import url("global/typography.css");
@import url("global/visuals.css");

@import url("common.blocks/button.css");
@import url("common.blocks/nav-rail.css");
@import url("common.blocks/header.css");

@import url("blocks/button.css");
@import url("blocks/note-form.css");
@import url("blocks/note-card.css");

body {
  background-color: #fffbfa;
}

.content {
  display: flex;

}

.notes-container {
  width: 90%;
  margin: 0 auto;
}

.js-main {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.label {
  display: inline-block;
}