@import url("../design-tokens/variables.css");

@import url("global/layout.css");
@import url("global/positioning.css");
@import url("global/reset.css");
@import url("global/typography.css");
@import url("global/visuals.css");

@import url("common.blocks/button.css");
@import url("common.blocks/nav-rail.css");

@import url("blocks/nav-rail.css");
@import url("blocks/button.css");

@import url("blocks/note-card.css");

.heading {
  font-family: 'Playfair Display', serif;
}

.app {
  display: flex;
  gap: 15.8rem;
  align-items: flex-start;
}

a {
  text-decoration: none;
  color: var(--gray-500);
}

