@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@400;500&family=Playfair+Display&display=swap');


.font-display {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.font-display--large {
  font-size: var(--md-sys-typescale-display-large-size);
  line-height: 6.4rem;
  letter-spacing: -0.25px;
}

.font-display--medium {
  font-size: var(--md-sys-typescale-display-medium-size);
  line-height: 5.2rem;
}

.font-display--small {
  font-size: var(--md-sys-typescale-display-small-size);
  line-height: 4.4rem;
}

.font-headline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.font-headline--large {
  font-size: var(--md-sys-typescale-headline-large-size);
  line-height: 4rem;
}

.font-headline--medium {
  font-size: var(--md-sys-typescale-headline-medium-size);
  line-height: 3.6rem;
}

.font-headline--small {
  font-size: var(--md-sys-typescale-headline-small-size);
  line-height: 3.2rem;
}

.font-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
}

.font-title--large {
  font-size: var(--md-sys-typescale-title-large-size);
  line-height: 2.8rem;
  font-weight: 400;
}

.font-title--medium {
  font-size: var(--md-sys-typescale-title-medium-size);
  line-height: 2.4rem;
  letter-spacing: 0.1px;
}

.font-title--small {
  font-size: var(--md-sys-typescale-title-small-size);
  line-height: 2rem;
  letter-spacing: 0.1px;
}

.font-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.5px;
  color: black;
}

.font-label--large {
  font-size: var(--md-sys-typescale-label-large-size);
  line-height: 2rem;
  letter-spacing: 0.1px;
}

.font-label--medium {
  font-size: var(--md-sys-typescale-label-medium-size);
  line-height: 1.6rem;
}

.font-label--small {
  font-size: var(--md-sys-typescale-label-small-size);
  line-height: 1.6rem;
}


.font-body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.font-body--large {
  font-size: var(--md-sys-typescale-body-large-size);
  line-height: 2.4rem;
  letter-spacing: .5px;
}

.font-body--medium {
  font-size: var(--md-sys-typescale-body-medium-size);
  line-height: 2rem;
  letter-spacing: .25px;
}

.font-body--small {
  font-size: var(--md-sys-typescale-body-small-size);
  line-height: 1.6rem;
  letter-spacing: .4px;
}
