/* filled state*/
.note-card {
  background-color: var(--md-sys-color-surface-variant);
  /* color: var(--md-sys-color-on-surface-variant); */
  color: #202124;
  width: 400px;
  margin: 0 auto;
  border-radius: 9px; /* 12dp */
  overflow: hidden;
  padding-bottom: 4px;

  position: relative;
}

.note-card:hover {
  box-shadow: 0px 1px 2px 0px var(--md-sys-color-shadow);
}

.note-card__img-cont {
  height: 150px;
  overflow: hidden;
}

.note-card__content {
  padding: 1.2rem 1.6rem;
}

.note-card__buttons {
  display: flex;
  gap: 0.4rem;

  margin: 4px;
  margin-bottom: 0;
}