.button{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid transparent;
  background-color: transparent;

  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;

  opacity: 0.81;
  color: #2e3637;
}

.button:hover {
  opacity: 0.97;
  background-color: rgba(95, 99, 104, 0.157);
}
.button:focus {
  border: 1px solid rgba(0,0,0,0.6);
}

.button .material-icons-outlined {
  font-size: 1.8rem;
}
