.nav-rail {
  width: clamp(250px, 10vw, 300px);
  /* background-color: var(--md-sys-color-surface); */
}

.nav-rail__button {
  opacity: 0.97;
  color: #5e6061;
}

.nav-rail__lnk:hover .nav-rail__button {
  background-color: transparent;
}
.nav-rail__button:focus {
  border: none;
}

.nav-rail__lnk,
.nav-rail__lnk:link,
.nav-rail__lnk:visited {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding: .8rem 1.2rem;

  display: flex;
  align-items: center;
  gap: 3.2rem;
  color: var(--md-sys-color-on-surface);
}
.nav-rail__lnk:hover,
.nav-rail__lnk:active {
  background-color: #f1f3f4;
}

.nav-rail__lnk--active,
.nav-rail__lnk--active:link,
.nav-rail__lnk--active:visited {
  background-color: var(--md-sys-color-surface-variant-light);
}
.nav-rail__lnk--active .nav-rail__button {
  color: #202124;
}
